.header-background {
  background-color: #4b2373;
}

.color-white {
  color: #fff;
}

.title-header {
  font-weight: 300;
  font-size: 20px;
}

.main-background {
  background-color: #ededed;
  padding: 10px 0 180px;
  height: auto;
}

.title-main {
  font-weight: 700;
  font-size: 30px;
}

.image-size {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

h3 {
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cfcece;
}

input {
  padding: 10px;
}

input:focus {
  outline: 2px solid #8d6fae;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: 2px solid #8d6fae;
}

.width-100 {
  width: 100%;
}

.align-right {
  text-align: right;
}

.button-save {
  background-color: #4b2373;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 20px;
  margin: 35px 0;
  border-radius: 5px;
  border: none;
}
