.header-background {
  background-color: #4b2373;
}

.flex-50 {
  flex-basis: 50%;
}

.color-white {
  color: #fff;
}

.navbar-padding {
  padding-right: 25px;
}

.navbar-margin {
  margin: 20px 0;
}

.title-header {
  font-weight: 300;
  font-size: 22px;
}

.entries-header {
  font-weight: 200;
  font-size: 18px;
  text-decoration: none;
}

.main-background {
  background-color: #ededed;
  padding: 10px 0 180px;
}

.title-main {
  font-weight: 700;
  font-size: 30px;
}

.image-size {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

h3 {
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cfcece;
}

input {
  padding: 10px;
}

input:focus {
  outline: 2px solid #8d6fae;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: 2px solid #8d6fae;
}

.width-100 {
  width: 100%;
}

.align-center {
  align-items: center;
}

.align-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fontweight-100 {
  font-weight: 100;
}

.fontsize-18 {
  font-size: 18px;
}

.marginbottom-50 {
  margin-bottom: 50px;
}

.button-save {
  background-color: #4b2373;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 5px;
  border: none;
}

.button-new {
  background-color: #4b2373;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
}

.style-none {
  list-style: none;
}

.padding-none {
  padding-left: 0;
}
