.header-background {
  background-color: #4b2373;
}

.main-background {
  background-color: #ededed;
  padding: 10px 0 43vh;
}

.modal-background {
  background-color: #fdfbfd;
  padding: 30px 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 100vh rgb(50 50 50 / 95%);
}

.flex-50 {
  flex-basis: 50%;
}

.flex-55 {
  flex-basis: 55%;
}

.flex-20 {
  flex-basis: 20%;
}

.width-100 {
  width: 100%;
}

.color-white {
  color: #fff;
}

.navbar-padding {
  padding-right: 25px;
}

.padding-none {
  padding-left: 0;
}

.navbar-margin {
  margin: 20px 0;
}

.marginleft-37 {
  margin-left: -37px;
}

.marginbottom-50 {
  margin-bottom: 50px;
}

.title-header {
  font-weight: 300;
  font-size: 22px;
}

.title-main {
  font-weight: 700;
  font-size: 30px;
}

.entries-header {
  font-weight: 200;
  font-size: 18px;
  text-decoration: none;
}

.searchbar {
  margin-bottom: 5px;
}

.image-size {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

h3 {
  font-size: 16px;
}

.fa-pencil {
  font-size: 24px;
  color: #7d609b;
}

.fa-pencil:hover {
  color: #4b2373;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cfcece;
}

input {
  padding: 10px;
}

input:focus {
  outline: 2px solid #8d6fae;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: 2px solid #8d6fae;
}

.align-center {
  align-items: center;
}

.align-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fontweight-100 {
  font-weight: 100;
}

.fontsize-18 {
  font-size: 18px;
}

.button-save {
  background-color: #4b2373;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button-new {
  background-color: #4b2373;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button-delete {
  color: #ea5956;
  text-decoration: underline;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.button-cancel {
  background-color: #d1d4d6;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
}

.button-confirm {
  background-color: #fc3e3d;
  color: #fcf0f1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
}

.style-none {
  list-style: none;
}

.mouse-pointer {
  cursor: pointer;
}

.journal-title {
  font-size: 22px;
}

.journal-notes {
  font-size: 16px;
  font-weight: 400;
}

.modal-positioning {
  top: 30%;
  left: 0;
  right: 0;
}

.modal-layout {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
